{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <title>Pesquisa de Satisfação</title>
</head>
<style>
    input[type="radio"]:checked + label {
      background-color: #133785;
      color: white;
      border-color: #44add6;
    }
  </style>

<body x-data="" class="bg-blue-200 py-10 md:py-16 lg:py-28">
    <div class="w-11/12 lg:max-w-5xl rounded-xl mx-auto bg-white pb-2">
        <div class="bg-blue-900 rounded-t-xl text-white">
            <div class="mx-auto space-y-4 p-10 text-justify">
                <h1 class="font-bold text-2xl md:text-4xl text-center">A MACROSUL QUER SABER A SUA OPINIÃO</h1>
                <div class="space-y-4 mx-auto lg:w-10/12 text-sm md:text-base">
                    <p>Com o intuito de aperfeiçoarmos os nossos serviços, solicitamos sua colaboração em responder a rápida pesquisa a seguir em menos de 5 minutos, o que nos permitirá identificar aspectos nos quais podemos melhorar.</p>

                    <p>A pesquisa deve ser respondida preferencialmente pela pessoa que mais teve contato com a Macrosul. Assim, caso você não seja essa pessoa, solicitamos a gentileza de encaminhar o questionário para a pessoa adequada. Lembramos que as informações prestadas serão utilizadas somente para fins de melhoria de nossos processos.</p>

                    <p>Favor responder até 30/09/23</p>

                    <p>Qualquer dúvida entre em contato conosco através do e-mail: <a href="#">sgq@macrosul.com</a></p>
                </div>
            </div>
        </div>

        <div class="w-full px-10 py-2">
            <form action="#" class="w-10/12 mx-auto space-y-4">
                <p class="text-sm"><span class="text-red-600 text-base">*</span> Obrigatório</p>

                <div>
                    <label for="e-5mail" class="text-blue-950 font-semibold ml-2">1. Endereço de e-mail:</label>
                    <span class="text-red-600 text-base">*</span>
                    <input type="email" class="block w-full border-b-[#24449b85] border-[#afcdee69]" placeholder="exemplo@email.com">
                </div>

                <div>
                    <label for="n-5ome" class="text-blue-950 font-semibold ml-2">2. Razão Social/Nome Completo:</label>
                    <span class="text-red-600 text-base">*</span>
                    <input type="text" class="block w-full border-b-[#24449b85] border-[#afcdee69]" placeholder="Introduza sua resposta">
                </div>

                <div>
                    <label for="c-5pf/cnpj" class="text-blue-950 font-semibold ml-2">3. CNPJ/CPF:</label>
                    <span class="text-red-600 text-base">*</span>
                    <input type="text" x-mask:dynamic="cpfCnpj" class="block w-full border-b-[#24449b85] border-[#afcdee69]" placeholder="999.999.999-99">
                    
                </div>

                <div>
                    <label for="t-5elefone" class="text-blue-950 font-semibold ml-2">4. Telefone:</label>
                    <span class="text-red-600 text-base">*</span>
                    <input type="text" class="block w-full border-b-[#24449b85] border-[#afcdee69]" placeholder="(99) 99999-9999" x-mask:dynamic="telefoneCelular">
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">5. Facilidade de contato com a empresa:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-5" name="5" class="hidden">
                        <label for="1-5" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-5" name="5" class="hidden">
                        <label for="2-5" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-5" name="5" class="hidden">
                        <label for="3-5" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-5" name="5" class="hidden">
                        <label for="4-5" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-5" name="5" class="hidden">
                        <label for="5-5" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">6. Atendimento ao telefone:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-6" name="6" class="hidden">
                        <label for="1-6" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-6" name="6" class="hidden">
                        <label for="2-6" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-6" name="6" class="hidden">
                        <label for="3-6" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-6" name="6" class="hidden">
                        <label for="4-6" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-6" name="6" class="hidden">
                        <label for="5-6" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">7. Facilidade de comunicação pelos canais disponíveis:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-7" name="7" class="hidden">
                        <label for="1-7" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-7" name="7" class="hidden">
                        <label for="2-7" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-7" name="7" class="hidden">
                        <label for="3-7" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-7" name="7" class="hidden">
                        <label for="4-7" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-7" name="7" class="hidden">
                        <label for="5-7" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">8. Negociação comercial:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-8" name="8" class="hidden">
                        <label for="1-8" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-8" name="8" class="hidden">
                        <label for="2-8" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-8" name="8" class="hidden">
                        <label for="3-8" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-8" name="8" class="hidden">
                        <label for="4-8" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-8" name="8" class="hidden">
                        <label for="5-8" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">9. Informações sobre o produto no momento da compra:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-9" name="9" class="hidden">
                        <label for="1-9" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-9" name="9" class="hidden">
                        <label for="2-9" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-9" name="9" class="hidden">
                        <label for="3-9" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-9" name="9" class="hidden">
                        <label for="4-9" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-9" name="9" class="hidden">
                        <label for="5-9" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">10. Navegação pelo site <a href="https://macrosul.com/" target="_blank" class="text-blue-600 underline">(macrosul.com)</a>:</label>
               
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-10" name="10" class="hidden">
                        <label for="1-10" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-10" name="10" class="hidden">
                        <label for="2-10" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-10" name="10" class="hidden">
                        <label for="3-10" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-10" name="10" class="hidden">
                        <label for="4-10" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-10" name="10" class="hidden">
                        <label for="5-10" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">11. Preço dos produtos comparado aos demais disponíveis no mercado:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-11" name="11" class="hidden">
                        <label for="1-11" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-11" name="11" class="hidden">
                        <label for="2-11" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-11" name="11" class="hidden">
                        <label for="3-11" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-11" name="11" class="hidden">
                        <label for="4-11" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-11" name="11" class="hidden">
                        <label for="5-11" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">12. Condições de transporte:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-12" name="12" class="hidden">
                        <label for="1-12" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-12" name="12" class="hidden">
                        <label for="2-12" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-12" name="12" class="hidden">
                        <label for="3-12" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-12" name="12" class="hidden">
                        <label for="4-12" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-12" name="12" class="hidden">
                        <label for="5-12" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">13. Entrega no prazo estipulado:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-13" name="13" class="hidden">
                        <label for="1-13" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-13" name="13" class="hidden">
                        <label for="2-13" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-13" name="13" class="hidden">
                        <label for="3-13" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-13" name="13" class="hidden">
                        <label for="4-13" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-13" name="13" class="hidden">
                        <label for="5-13" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">14. Número de lote/número de série de acordo com o informado na Nota Fiscal:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-14" name="14" class="hidden">
                        <label for="1-14" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-14" name="14" class="hidden">
                        <label for="2-14" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-14" name="14" class="hidden">
                        <label for="3-14" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-14" name="14" class="hidden">
                        <label for="4-14" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-14" name="14" class="hidden">
                        <label for="5-14" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">15. Formas de pagamento:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-15" name="15" class="hidden">
                        <label for="1-15" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-15" name="15" class="hidden">
                        <label for="2-15" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-15" name="15" class="hidden">
                        <label for="3-15" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-15" name="15" class="hidden">
                        <label for="4-15" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-15" name="15" class="hidden">
                        <label for="5-15" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">16. Sistema de cobrança:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-16" name="16" class="hidden">
                        <label for="1-16" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-16" name="16" class="hidden">
                        <label for="2-16" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-16" name="16" class="hidden">
                        <label for="3-16" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-16" name="16" class="hidden">
                        <label for="4-16" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-16" name="16" class="hidden">
                        <label for="5-16" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">17. Pós vendas - Serviço de Atendimento ao Consumidor (SAC):</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-17" name="17" class="hidden">
                        <label for="1-17" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-17" name="17" class="hidden">
                        <label for="2-17" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-17" name="17" class="hidden">
                        <label for="3-17" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-17" name="17" class="hidden">
                        <label for="4-17" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-17" name="17" class="hidden">
                        <label for="5-17" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">18. Pós vendas - Suporte Técnico (produtos em garantia):</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-18" name="18" class="hidden">
                        <label for="1-18" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-18" name="18" class="hidden">
                        <label for="2-18" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-18" name="18" class="hidden">
                        <label for="3-18" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-18" name="18" class="hidden">
                        <label for="4-18" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-18" name="18" class="hidden">
                        <label for="5-18" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">19. Pós vendas - Assistências Técnicas:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-19" name="19" class="hidden">
                        <label for="1-19" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-19" name="19" class="hidden">
                        <label for="2-19" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-19" name="19" class="hidden">
                        <label for="3-19" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-19" name="19" class="hidden">
                        <label for="4-19" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-19" name="19" class="hidden">
                        <label for="5-19" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">20. Identificação e apresentação:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-20" name="20" class="hidden">
                        <label for="1-20" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-20" name="20" class="hidden">
                        <label for="2-20" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-20" name="20" class="hidden">
                        <label for="3-20" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-20" name="20" class="hidden">
                        <label for="4-20" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-20" name="20" class="hidden">
                        <label for="5-20" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">21. Embalagem, Manual de Instruções e Rótulos adequados:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-21" name="21" class="hidden">
                        <label for="1-21" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-21" name="21" class="hidden">
                        <label for="2-21" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-21" name="21" class="hidden">
                        <label for="3-21" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-21" name="21" class="hidden">
                        <label for="4-21" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-21" name="21" class="hidden">
                        <label for="5-21" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">22. Qualidade do produto:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-22" name="22" class="hidden">
                        <label for="1-22" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-22" name="22" class="hidden">
                        <label for="2-22" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-22" name="22" class="hidden">
                        <label for="3-22" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-22" name="22" class="hidden">
                        <label for="4-22" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-22" name="22" class="hidden">
                        <label for="5-22" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">23. Desempenho e Eficácia:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-23" name="23" class="hidden">
                        <label for="1-23" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-23" name="23" class="hidden">
                        <label for="2-23" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-23" name="23" class="hidden">
                        <label for="3-23" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-23" name="23" class="hidden">
                        <label for="4-23" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-23" name="23" class="hidden">
                        <label for="5-23" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">24. Especificações Técnicas:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-24" name="24" class="hidden">
                        <label for="1-24" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-24" name="24" class="hidden">
                        <label for="2-24" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-24" name="24" class="hidden">
                        <label for="3-24" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-24" name="24" class="hidden">
                        <label for="4-24" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-24" name="24" class="hidden">
                        <label for="5-24" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">25. Atendimento do produto às necessidades de acordo com a finalidade pretendida de uso:</label>
                
                    <div class="w-full flex space-x-4 pr-4">
                        <input type="radio" id="1-25" name="25" class="hidden">
                        <label for="1-25" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            1
                        </label>
                    
                        <input type="radio" id="2-25" name="25" class="hidden">
                        <label for="2-25" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            2
                        </label>

                        <input type="radio" id="3-25" name="25" class="hidden">
                        <label for="3-25" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            3
                        </label>

                        <input type="radio" id="4-25" name="25" class="hidden">
                        <label for="4-25" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            4
                        </label>

                        <input type="radio" id="5-25" name="25" class="hidden">
                        <label for="5-25" class="w-1/5 border border-blue-400 rounded-lg px-3 py-2 text-center font-semibold cursor-pointer transition duration-300">
                            5
                        </label>
                    </div>
                    <div class="w-full flex justify-between text-xs font-semibold text-gray-500 px-4">
                        <p>Muito Insatisfeito</p>
                        <p>Muito Satisfeito</p>

                    </div>
                </div>

                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">26. Qual destas marcas você conhece?:</label>
                    <span class="text-red-600 text-base">*</span>
                    <div class="px-4 space-y-1 mt-1">
                        <div class="flex items-center space-x-1">
                            <input type="checkbox" id="md" class="rounded cursor-pointer">
                            <label for="md">MD</label>
                        </div>

                        <div class="flex items-center space-x-1">
                            <input type="checkbox" id="spirit" class="rounded cursor-pointer">
                            <label for="spirit">Spirit</label>
                        </div>

                        <div class="flex items-center space-x-1">
                            <input type="checkbox" id="bionet" class="rounded cursor-pointer">
                            <label for="bionet">Bionet</label>
                        </div>

                        <div class="flex items-center space-x-1">
                            <input type="checkbox" id="heartsine-striker" class="rounded cursor-pointer">
                            <label for="heartsine-striker">Heartsine/Striker</label>
                        </div>

                        <div class="flex items-center space-x-1">
                            <input type="checkbox" id="todas" class="rounded cursor-pointer">
                            <label for="todas">Todas as Marcas</label>
                        </div>
                        
                    </div>
                </div>


                <div>
                    <label for="" class="text-blue-950 font-semibold ml-2">27. Qual destas marcas você trabalha?:</label>
                    <span class="text-red-600 text-base">*</span>
                    <div class="px-4 space-y-1 mt-1">
                        <div class="flex items-center space-x-1">
                            <input type="checkbox" id="MD" class="rounded cursor-pointer">
                            <label for="MD">MD</label>
                        </div>

                        <div class="flex items-center space-x-1">
                            <input type="checkbox" id="Spirit" class="rounded cursor-pointer">
                            <label for="Spirit">Spirit</label>
                        </div>

                        <div class="flex items-center space-x-1">
                            <input type="checkbox" id="Bionet" class="rounded cursor-pointer">
                            <label for="Bionet">Bionet</label>
                        </div>

                        <div class="flex items-center space-x-1">
                            <input type="checkbox" id="Heartsine-striker" class="rounded cursor-pointer">
                            <label for="Heartsine-striker">Heartsine/Striker</label>
                        </div>

                        <div class="flex items-center space-x-1">
                            <input type="checkbox" id="Todas" class="rounded cursor-pointer">
                            <label for="Todas">Todas as Marcas</label>
                        </div>
                    </div>
                </div>

                <div>
                    <label for="text" class="text-blue-950 font-semibold ml-2">28. Para finalizarmos a pesquisa, conte nos em que podemos melhorar? Deixe sua sugestão para que possamos melhorar sua experiência junto aos nossos serviços e produtos.</label>
                    <span class="text-red-600 text-base">*</span>

                    <textarea name="text" id="text" class="block mt-4 mx-auto w-10/12 rounded" placeholder="Introduza aqui sua resposta"></textarea>
                    <p class="text-blue-950 w-10/12 text-sm mx-auto">Você pode imprimir uma cópia da sua resposta depois de enviar</p>
                </div>

                

                <div class="flex items-center justify-center pt-10">
                    <button class="py-2 bg-blue-800 text-white font-semibold rounded-xl mx-auto w-64">Enviar</button>
                </div>
            </form>

            <div class="w-full flex justify-end mt-5">
                <img src="https://macrosul.com/assets/LogoMacroSul.png" alt="" class="scale-75">
            </div>
        </div>

    </div>
   
    
</body>
</html>

<script>
    function cpfCnpj(input) {
        return input.length <=14
            ? '999.999.999-99'
            : '99.999.999/9999-99'
    }

    function telefoneCelular(input) {
        return input.startsWith('9',5)
            ?'(99) 99999-9999' 
            :'(99) 9999-9999'
    }


    </script>